@model NetAcademy.Services.OrderSmth

<div>
    <h3>@Model.OrderId</h3>
    <p>@Model.OrderData</p>
    <p>@Model.OrderDate</p>
    <p>@Model.OrderSendTime</p>
    <p>@Model.Address</p>
    <p>@Model.CustomerFullname</p>
    <p>@Model.OrderComment</p>
</div>